@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("../assets/fonts/SF Pro Display/SFProDisplay-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../assets/fonts/SF Pro Display/SFProDisplay-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "SFProDisplay-Light-1";
  src: url("../assets/fonts/SF Pro Display/SFProDisplay-Light-1.ttf") format("truetype"); }
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("../assets/fonts/SF Pro Display/SFProDisplay-Semibold.ttf") format("truetype"); }
.font-sf-pro-display-bold {
  font-family: "SFProDisplay-Bold", sans-serif; }

.font-sf-pro-display-regular {
  font-family: "SFProDisplay-Regular", sans-serif; }

.font-sf-pro-display-light {
  font-family: "SFProDisplay-Light-1", sans-serif; }

.font-sf-pro-display-semibold {
  font-family: "SFProDisplay-Semibold",sans-serif; }

body {
  background-color: #E5E5E5; }
  body .navAbror {
    background-color: #ffffff;
    padding-top: 35px;
    padding-bottom: 35px; }
    body .navAbror .logo {
      width: 108.52px;
      height: 38.55px; }
    body .navAbror .courses {
      margin-left: 59px;
      border: 2px solid #E6E6E6;
      padding: 8px 15px;
      transition: all 0.2s linear; }
      body .navAbror .courses:hover {
        transform: scale(1.1);
        box-shadow: 0 0 4px #003846; }
      @media (max-width: 498px) {
        body .navAbror .courses {
          padding: 3px; } }
      body .navAbror .courses img {
        width: 14px;
        height: 13px; }
        @media (max-width: 768px) {
          body .navAbror .courses img {
            width: 10px;
            height: 10px; } }
      body .navAbror .courses p {
        font-size: 16px;
        line-height: 19px;
        margin-left: 13px; }
        @media (max-width: 768px) {
          body .navAbror .courses p {
            margin-left: 0;
            font-size: 12px; } }
    body .navAbror .top-come img {
      margin-right: 23px; }
    body .navAbror .top-come p {
      margin-right: 17px;
      font-size: 16px;
      line-height: 19px; }
      @media (max-width: 768px) and (min-width: 521px) {
        body .navAbror .top-come p {
          margin-right: -5px; } }
      @media (max-width: 521px) {
        body .navAbror .top-come p {
          font-size: 13px;
          margin-right: 0; } }
  body .main {
    padding-top: 50px; }
    body .main .col-4 .card-first {
      background-color: #ffffff;
      margin-bottom: 11px; }
      body .main .col-4 .card-first .card-header {
        background-color: #ffffff; }
        body .main .col-4 .card-first .card-header img {
          margin-right: 15px; }
          @media (max-width: 768px) {
            body .main .col-4 .card-first .card-header img {
              margin-right: 5px;
              margin-left: -10px;
              width: 40px;
              height: 40px; } }
          @media (max-width: 500px) {
            body .main .col-4 .card-first .card-header img {
              margin-right: 3px;
              margin-left: -15px; } }
          @media (max-width: 475px) {
            body .main .col-4 .card-first .card-header img {
              margin-right: 0;
              margin-left: -22px; } }
        body .main .col-4 .card-first .card-header h6 {
          font-size: 14px;
          line-height: 17px; }
          @media (max-width: 768px) {
            body .main .col-4 .card-first .card-header h6 {
              font-size: 12px;
              line-height: 15px; } }
        body .main .col-4 .card-first .card-header p {
          font-size: 12px;
          line-height: 14px;
          margin-top: 4px;
          color: #888888; }
      body .main .col-4 .card-first .card-body h1 {
        font-size: 25px;
        line-height: 35px;
        color: #2F2F2F; }
        @media (max-width: 992px) {
          body .main .col-4 .card-first .card-body h1 {
            font-size: 19px;
            line-height: 25px; } }
        @media (max-width: 768px) {
          body .main .col-4 .card-first .card-body h1 {
            font-size: 12px;
            line-height: 19px; } }
        @media (max-width: 529px) {
          body .main .col-4 .card-first .card-body h1 {
            font-size: 11px;
            line-height: 16px; } }
        @media (max-width: 507px) {
          body .main .col-4 .card-first .card-body h1 {
            font-size: 11px;
            line-height: 16px;
            margin-left: -12px; } }
      body .main .col-4 .card-first .card-body .card-information {
        padding-top: 19px; }
        @media (max-width: 567px) and (min-width: 400px) {
          body .main .col-4 .card-first .card-body .card-information .firs-information {
            margin-left: -23px; } }
        @media (max-width: 768px) and (min-width: 567px) {
          body .main .col-4 .card-first .card-body .card-information .firs-information {
            margin-left: -8px; } }
        body .main .col-4 .card-first .card-body .card-information .second-information {
          margin-left: 41px; }
          @media (max-width: 567px) and (min-width: 400px) {
            body .main .col-4 .card-first .card-body .card-information .second-information {
              margin-left: 23px; } }
          @media (max-width: 992px) and (min-width: 768px) {
            body .main .col-4 .card-first .card-body .card-information .second-information {
              margin-left: 23px; } }
        body .main .col-4 .card-first .card-body .card-information img {
          width: 16px;
          height: 16px;
          margin-right: 9.333px; }
          @media (max-width: 992px) {
            body .main .col-4 .card-first .card-body .card-information img {
              margin-right: -0.667px; } }
        body .main .col-4 .card-first .card-body .card-information p {
          display: inline;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 14px;
          color: #5F5F5F; }
          @media (max-width: 992px) and (min-width: 768px) {
            body .main .col-4 .card-first .card-body .card-information p {
              font-size: 9px; } }
          @media (max-width: 768px) and (min-width: 576px) {
            body .main .col-4 .card-first .card-body .card-information p {
              font-size: 10px;
              line-height: 11px; } }
    body .main .col-4 #accordion .card .card-header {
      background-color: #ffffff; }
      body .main .col-4 #accordion .card .card-header a {
        font-size: 16px;
        line-height: 22px;
        color: #8F8F8F; }
        body .main .col-4 #accordion .card .card-header a span {
          font-size: 16px;
          line-height: 22px; }
          @media (max-width: 992px) {
            body .main .col-4 #accordion .card .card-header a span {
              font-size: 12px;
              line-height: 15px; } }
        body .main .col-4 #accordion .card .card-header a .header-one {
          font-weight: 500;
          font-size: 25px;
          line-height: 25px;
          margin-right: 23px; }
          @media (max-width: 992px) {
            body .main .col-4 #accordion .card .card-header a .header-one {
              font-size: 19px;
              line-height: 17px;
              margin-right: 18px; } }
          @media (max-width: 768px) {
            body .main .col-4 #accordion .card .card-header a .header-one {
              margin-right: 5px;
              margin-left: -20px; } }
          @media (max-width: 576px) {
            body .main .col-4 #accordion .card .card-header a .header-one {
              margin-right: 5px;
              margin-left: -24px; } }
        body .main .col-4 #accordion .card .card-header a img {
          margin-left: 70px; }
          @media (max-width: 992px) and (min-width: 768px) {
            body .main .col-4 #accordion .card .card-header a img {
              margin-left: 22px; } }
          @media (max-width: 768px) {
            body .main .col-4 #accordion .card .card-header a img {
              margin-left: -1px; } }
      body .main .col-4 #accordion .card .card-header a:active {
        color: black; }
    @media (max-width: 992px) and (min-width: 768px) {
      body .main .col-4 #accordion .card .card-body .main2 .position-relative .ml-2 {
        margin-left: -14px; } }
    body .main .col-4 #accordion .card .card-body h4 {
      font-size: 14px;
      line-height: 18px; }
      @media (max-width: 992px) and (min-width: 768px) {
        body .main .col-4 #accordion .card .card-body h4 {
          font-size: 9px;
          line-height: 7px; } }
      @media (max-width: 1200px) and (min-width: 992px) {
        body .main .col-4 #accordion .card .card-body h4 {
          font-size: 12px;
          line-height: 17px; } }
    body .main .col-4 #accordion .card .card-body p {
      font-size: 10px;
      line-height: 12px;
      color: #737373; }
    body .main .col-4 #accordion .card .card-body .eye {
      margin-right: 13px;
      text-align: center; }
      @media (max-width: 992px) and (min-width: 768px) {
        body .main .col-4 #accordion .card .card-body .eye {
          margin-left: -14px;
          margin-right: 6px; } }
      @media (max-width: 768px) and (min-width: 576px) {
        body .main .col-4 #accordion .card .card-body .eye {
          margin-right: -4px;
          margin-left: -19px; } }
      @media (max-width: 576px) {
        body .main .col-4 #accordion .card .card-body .eye {
          margin-right: -4px;
          margin-left: -20px; } }
    body .main .col-4 #accordion .card .card-body .main-information1 {
      margin-left: 15px; }
      @media (max-width: 768px) and (min-width: 576px) {
        body .main .col-4 #accordion .card .card-body .main-information1 h4 {
          font-size: 9px;
          line-height: 9px; } }
      @media (max-width: 576px) {
        body .main .col-4 #accordion .card .card-body .main-information1 h4 {
          font-size: 8px;
          line-height: 8px; } }
      body .main .col-4 #accordion .card .card-body .main-information1 span {
        color: #737373;
        font-size: 12px;
        line-height: 14px; }
      @media (max-width: 768px) and (min-width: 576px) {
        body .main .col-4 #accordion .card .card-body .main-information1 {
          margin-left: 1px; } }
    body .main .col-4 #accordion .card .card-body .line {
      width: 122%;
      height: 2px;
      background-color: #E2E4E7;
      margin-top: 21px;
      margin-bottom: 24px;
      margin-left: -30px; }
    body .main .col-4 #accordion .card .card-body .position-absolute {
      top: 10px;
      right: -8px; }
    body .main .col-8 .menu {
      background-color: #ffffff;
      padding: 12px 29px;
      margin-bottom: 13px; }
      body .main .col-8 .menu .nav .nav-item .nav-link {
        color: #939394;
        font-size: 14px;
        text-decoration: none;
        line-height: 16px;
        font-family: "SF Pro Display", sans-serif;
        position: relative;
        transition: all 0.5s linear;
        padding: 10px; }
        body .main .col-8 .menu .nav .nav-item .nav-link.active {
          color: black;
          border-radius: 27px; }
        body .main .col-8 .menu .nav .nav-item .nav-link::after {
          content: '';
          width: 0;
          height: 2.5px;
          position: absolute;
          bottom: -7px;
          left: 0;
          background-color: #494949;
          transition: all 0.5s linear; }
        body .main .col-8 .menu .nav .nav-item .nav-link:hover::after {
          width: 100%; }
    body .main .col-8 .tab-content .tab-pane {
      padding-top: 30px;
      padding-right: 47px;
      background-color: #ffffff; }
      body .main .col-8 .tab-content .tab-pane .section-zero {
        padding-bottom: 13px; }
        body .main .col-8 .tab-content .tab-pane .section-zero .borderr {
          margin-left: 148px;
          padding: 24px 25px;
          border: 1px solid #E6E6E6;
          filter: drop-shadow(0px 11px 14px rgba(0, 0, 0, 0.0339543));
          border-radius: 30px;
          margin-top: 10px; }
          body .main .col-8 .tab-content .tab-pane .section-zero .borderr .image {
            top: 120px;
            right: -13px; }
          body .main .col-8 .tab-content .tab-pane .section-zero .borderr p {
            bottom: -24px;
            right: 0;
            font-size: 14px;
            line-height: 21px; }
          body .main .col-8 .tab-content .tab-pane .section-zero .borderr .position-absolute {
            font-size: 12px;
            line-height: 16px;
            color: #ACACAC; }
          body .main .col-8 .tab-content .tab-pane .section-zero .borderr .align-items-center {
            margin-top: 21px; }
            body .main .col-8 .tab-content .tab-pane .section-zero .borderr .align-items-center .first-div .position-absolute {
              top: 7px;
              left: -8px; }
            body .main .col-8 .tab-content .tab-pane .section-zero .borderr .align-items-center .second-div {
              margin-left: 18px; }
              body .main .col-8 .tab-content .tab-pane .section-zero .borderr .align-items-center .second-div .position-absolute {
                top: 8px;
                left: -7px; }
        body .main .col-8 .tab-content .tab-pane .section-zero .massage {
          margin-top: 48px;
          margin-right: 126px;
          margin-left: 29px; }
          body .main .col-8 .tab-content .tab-pane .section-zero .massage .massage-one {
            background: #F8F8FA;
            border-radius: 30px;
            padding-top: 10px;
            padding-bottom: 8px;
            padding-right: 27px;
            padding-left: 33px; }
            body .main .col-8 .tab-content .tab-pane .section-zero .massage .massage-one p {
              font-size: 14px;
              line-height: 21px; }
            body .main .col-8 .tab-content .tab-pane .section-zero .massage .massage-one .position-absolute {
              font-size: 12px;
              line-height: 16px;
              color: #ACACAC;
              margin-top: 16px; }
            body .main .col-8 .tab-content .tab-pane .section-zero .massage .massage-one .oval {
              position: absolute;
              top: 10px;
              left: -10px; }
            body .main .col-8 .tab-content .tab-pane .section-zero .massage .massage-one .correct {
              position: absolute;
              bottom: 2px;
              right: -10px; }
        body .main .col-8 .tab-content .tab-pane .section-zero .line {
          width: 100%;
          background-color: #E5E5E5;
          height: 2px;
          margin-bottom: 10px;
          margin-top: 56px;
          margin-left: 10px; }
        body .main .col-8 .tab-content .tab-pane .section-zero .input-group {
          margin-top: 25px;
          width: 100%;
          margin-left: 48px;
          padding-bottom: 10px;
          position: relative; }
          body .main .col-8 .tab-content .tab-pane .section-zero .input-group input {
            border: none;
            font-size: 14px;
            line-height: 14px;
            margin-top: 10px; }
            body .main .col-8 .tab-content .tab-pane .section-zero .input-group input.active {
              outline: none; }
          body .main .col-8 .tab-content .tab-pane .section-zero .input-group .oval-copy {
            left: -27px;
            top: 14px; }
      body .main .col-8 .tab-content .tab-pane .section-one .ovales {
        margin-left: 32px;
        padding-top: 17px; }
        body .main .col-8 .tab-content .tab-pane .section-one .ovales .oval1 {
          background: #63C19C;
          box-shadow: 0 11px 14px rgba(0, 0, 0, 0.0339543);
          border-radius: 30px;
          width: 37px;
          height: 59px;
          text-align: center;
          margin-right: 20px;
          padding: 10px; }
          body .main .col-8 .tab-content .tab-pane .section-one .ovales .oval1 h1 {
            font-size: 15px;
            line-height: 16px;
            color: #ffffff; }
          body .main .col-8 .tab-content .tab-pane .section-one .ovales .oval1 img {
            margin-top: -14px; }
        body .main .col-8 .tab-content .tab-pane .section-one .ovales .oval2 {
          border: 1px solid #FFB685;
          filter: drop-shadow(0px 11px 14px rgba(0, 0, 0, 0.0339543));
          border-radius: 30px;
          background-color: #ffffff; }
          body .main .col-8 .tab-content .tab-pane .section-one .ovales .oval2 h1 {
            color: #FFB685; }
        body .main .col-8 .tab-content .tab-pane .section-one .ovales .oval3 {
          border: 1px solid #E6E6E6;
          filter: drop-shadow(0px 11px 14px rgba(0, 0, 0, 0.0339543));
          border-radius: 30px;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center; }
          body .main .col-8 .tab-content .tab-pane .section-one .ovales .oval3 h1 {
            color: #939495; }
      body .main .col-8 .tab-content .tab-pane .section-one .massage-two {
        margin-left: 22px;
        padding-top: 27px; }
        body .main .col-8 .tab-content .tab-pane .section-one .massage-two .number {
          width: 37px;
          height: 37px;
          border-radius: 50%;
          background-color: #F8F8FA;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 30px;
          padding: 10px; }
          body .main .col-8 .tab-content .tab-pane .section-one .massage-two .number h1 {
            color: #939495;
            font-size: 15px;
            line-height: 16px; }
        body .main .col-8 .tab-content .tab-pane .section-one .massage-two p {
          font-size: 18px;
          line-height: 26px;
          color: #000000; }
      body .main .col-8 .tab-content .tab-pane .section-one .lessons {
        margin-top: 18px;
        margin-left: 32px; }
        body .main .col-8 .tab-content .tab-pane .section-one .lessons .lesson1 {
          width: 78px;
          height: 65px;
          background: #F0F0F0;
          border-radius: 10px;
          text-align: center;
          margin-right: 12px; }
          body .main .col-8 .tab-content .tab-pane .section-one .lessons .lesson1 p {
            font-size: 12px;
            line-height: 16px;
            margin-top: 6px; }
      body .main .col-8 .tab-content .tab-pane .section-one .text3 {
        background: #F8F8FA;
        border-radius: 30px;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 30px;
        margin-left: 62px;
        margin-top: 47px; }
        body .main .col-8 .tab-content .tab-pane .section-one .text3 p {
          font-size: 14px;
          line-height: 21px; }
      body .main .col-8 .tab-content .tab-pane .section-one h6 {
        color: #ACACAC;
        font-size: 12px;
        line-height: 16px;
        margin-left: 94px;
        margin-top: 9px; }
      body .main .col-8 .tab-content .tab-pane .section-one .input-group {
        margin-top: 25px;
        width: 100%;
        margin-left: 48px;
        padding-bottom: 8px;
        position: relative; }
        body .main .col-8 .tab-content .tab-pane .section-one .input-group input {
          border: none;
          font-size: 14px;
          line-height: 14px;
          margin-top: 10px; }
          body .main .col-8 .tab-content .tab-pane .section-one .input-group input.active {
            outline: none; }
        body .main .col-8 .tab-content .tab-pane .section-one .input-group .oval-copy {
          left: -27px;
          top: 14px; }
      body .main .col-8 .tab-content .tab-pane .section-two {
        padding-bottom: 118px; }
        body .main .col-8 .tab-content .tab-pane .section-two .p-one {
          font-size: 18px;
          line-height: 26px;
          margin-top: 26px;
          margin-left: 32px; }
        body .main .col-8 .tab-content .tab-pane .section-two .text-one {
          background: #F0F0F0;
          border-radius: 10px;
          padding: 10px;
          margin-top: 15px;
          margin-left: 32px; }
          body .main .col-8 .tab-content .tab-pane .section-two .text-one p {
            font-size: 12px;
            line-height: 16px;
            margin-left: 16px; }
        body .main .col-8 .tab-content .tab-pane .section-two .p-second {
          margin-top: 67px; }
      body .main .col-8 .tab-content .tab-pane .section-three {
        padding-bottom: 222px; }
        body .main .col-8 .tab-content .tab-pane .section-three .p-main {
          font-size: 18px;
          line-height: 26px;
          margin-top: 26px;
          margin-left: 32px; }
        body .main .col-8 .tab-content .tab-pane .section-three .text-two {
          background: #F0F0F0;
          border-radius: 10px;
          margin-top: 22px;
          margin-left: 32px;
          padding: 10px; }
          body .main .col-8 .tab-content .tab-pane .section-three .text-two p {
            font-size: 12px;
            line-height: 16px; }
        body .main .col-8 .tab-content .tab-pane .section-three h6 {
          font-size: 12px;
          line-height: 16px;
          margin-left: 15px;
          color: #979797;
          vertical-align: sub; }
  body footer {
    background-color: #E5E5E5;
    margin-top: 85px; }
    body footer h4 {
      font-size: 14px;
      line-height: 33px;
      color: #000000; }
    body footer a {
      font-size: 12px;
      line-height: 34px;
      color: #6C6C6C; }
    body footer h1 {
      font-size: 25px;
      line-height: 33px;
      color: black; }
    body footer p {
      font-size: 14px;
      line-height: 24px;
      color: #6C6C6C; }

/*# sourceMappingURL=main3.css.map */
